{% extends "layout.html" %}

{% block title %}
  Filter
{% endblock %}

{% block main %}
<form action="/filter" method="POST">
  <div class="form-row">
    <label for="groupDate">Audition date:</label>
    <div class="form-group" id="groupDate">
      <select id="selectYear" class="form-control" name="year">
        <option selected>Year...</option>
        {% for i in range(2020, 1950, -1) %}
        <option>{{ i }}</option>
        {% endfor %}
      </select>
      <select id="selectMonth" class="form-control" name="month" disabled>
        <option selected>Month...</option>
        {% for i in range(1, 13) %}
        <option>{{ i }}</option>
        {% endfor %}
      </select>
      <select id="selectDay" class="form-control" name="day" disabled>
        <option selected>Day...</option>
        {% for i in range(1, 32) %}
        <option>{{ i }}</option>
        {% endfor %}
      </select>
    </div>
  </div>  
  <div class="form-row">
    <div class="form-group">
      <label for="inputTitle">Project Title:</label>
      <input type="text" class="form-control" id="inputTitle" placeholder="Title" name="title">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="inputType">Project Type:</label>
      <select id="inputType" class="form-control" name="type">
        <option selected>Choose...</option>
        <option>Theatre</option>
        <option>TV</option>
        <option>Film</option>
        <option>Commercial</option>
        <option>Voiceover</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="inputRole">Role Type:</label>
      <select id="inputRole" class="form-control" name="role">
        <option selected>Choose...</option>
        <option>Co Star</option>
        <option>Guest Star </option>
        <option>Recurring</option>
        <option>Series Regular</option>
        <option>Supporting</option>
        <option>Lead</option>
        <option>N/A</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="selectCo">Casting Office:</label>
      <select id="selectCo" class="form-control" name="co">
        <option selected>Choose...</option>
        {% for i in range(co|length) %}
        <option>{{ co[i] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="selectCd">Casting Director:</label>
      <select id="selectCd" class="form-control" name="cd">
        <option selected>Choose...</option>
        {% for i in range(cd|length) %}
        <option>{{ cd[i] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="selectCa">Casting Associate:</label>
      <select id="selectCa" class="form-control" name="ca">
        <option selected>Choose...</option>
        {% for i in range(ca|length) %}
        <option>{{ ca[i] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-check" style="margin: 10px">
      <input class="form-check-input" type="checkbox" id="checkCb" name="cb">
      <label class="form-check-label" for="checkCb">
        Called Back
      </label>
    </div>
    <div class="form-check" style="margin: 10px">
      <input class="form-check-input" type="checkbox" id="checkBooked" name="booked">
      <label class="form-check-label" for="checkBooked">
        Booked
      </label>
    </div>
    <div class="form-check" style="margin: 10px">
      <input class="form-check-input" type="checkbox" id="checkSelfTape" name="self_tape">
      <label class="form-check-label" for="checkSelfTape">
        Self-Tape
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
  let year = document.querySelector("#selectYear");
  let month = document.querySelector("#selectMonth");
  let day = document.querySelector("#selectDay");

  year.onchange = function() {
      if (year.value != "Year...") {
        month.disabled = false;
      } else {
        month.disabled = true;
        day.disabled = true;
        month.value = "Month..."
        day.value = "Day..."
                  }
    }
  
  month.onchange = function() {
    if (month.value != "Month...") {
      day.disabled = false;
    } else {
      day.disabled = true;
      day.value = "Day..."
                }
  }

</script>
{% endblock %}