{% extends "layout.html" %}

{% block title %}
  Booking Percentage
{% endblock %}

{% block main %}

<table style="width:100%" align="center">
  <thead>
    <tr>
      <th>{{ year }}</th>
      {% for i in range(keys|length) %}
      <th>{{ keys[i] }}</th>
      {% endfor %}
    </tr>
  </thead>
  {% for i in range(d|length) %}
  <tr>
    {% for j in range(0, 1 + keys|length) %}
    {% if i == 0 and j == 0 %}
    <td>Auditions</td>
    {% elif i == 1 and j == 0 %}
    <td>Booked</td>
    {% elif i == 2 and j == 0 %}
    <td>Percentage</td>
    {% else %}
    <td>{{ d[i][keys[j-1]] }}</td>
    {% endif %}
    {% endfor %}
  </tr>       
  {% endfor %} 
</table>
{% endblock %}
